
.board-item_checked {
  overflow: hidden;
  position: relative;
}

.board-item_photo-cover {
  max-width: 100px;
  object-fit: cover;
  z-index: 3;
  opacity: 0.7;
  width: 100px;
  height: auto;
  position: relative;
  left: 50%;
  transform: translateX(-50%);
}

/* TODO: make less hacky */
.cover-image {
  position: absolute;
  top: 8%;
  left: 0;
  width: 100%;
  height: 150px;
}

/* TODO: integrate to code */
#board-page-title {
  background-color: white;
  margin-left: -25px;
  margin-right: -25px;
  padding: 5px 25px;
  height: 56px;
  margin-top: -5px;
  margin-bottom: 0;
}
